# Data Exploration and Cleaning

### Ian Heung

In this notebook, we will use SQL clean the data saved onto the MySQL server in `data_preperation.ipynb`. The exploration and cleaning stage can also be done with Pandas, but SQL will be used here to apply concepts and skills learnt in the Google Data Analytics course.

## Data Exploration

We will start by making a series of queries to reconfirm and verify our data is reading for cleaning and processing.

In [ ]:
!pip install sqlalchemy PyMySQL ipython-sql --quiet

In [ ]:
# imports
from getpass import getpass
from sqlalchemy import create_engine

In [ ]:
# enter your login info for your SQL server
user = "root"
password = getpass() # used to hide your password

conn_str = f"mysql+pymysql://{user}:{password}@localhost:3306/"

In [ ]:
# load SQL session
%load_ext sql

In [ ]:
%sql {conn_str}

In [ ]:
# confirm that the CyclisticDatabase database is there
%sql SHOW DATABASES;

In [ ]:
%sql USE CyclisticDatabase;

Lets get some quick information and overview on our table, `combined_tripdata`

In [ ]:
# check our colums and see their datatypes
%sql SHOW COLUMNS FROM combined_tripdata;

In [ ]:
# Preview of the first 5 entries
%sql SELECT * FROM combined_tripdata LIMIT 5;

In [ ]:
# number of rows
%sql SELECT COUNT(*) FROM combined_tripdata;

We can see that station_id has inconsistent naming, but it is not that important. It might be due to newer stations having different naming conventions, or something the company decided to do. Lets also explore what text fields are in each of in the text columns.

In [ ]:
%%sql
-- ridable bike types and their ridecounts
SELECT rideable_type, COUNT(*) AS count
FROM combined_tripdata
GROUP BY rideable_type;

In [ ]:
%%sql
-- number of unique start and end stations
SELECT COUNT(DISTINCT station_id) AS total_unique_stations
FROM (
    SELECT start_station_id AS station_id FROM combined_tripdata
    UNION
    SELECT end_station_id AS station_id FROM combined_tripdata
) AS all_stations;

In [ ]:
%%sql
-- casual users and members and the number of counts
SELECT member_casual, COUNT(*) AS count
FROM combined_tripdata
GROUP BY member_casual;

Now, we have some general idea of the structure of the data, the number of stations, and the ratio between members and casual riders. Lets also get some general aggregate statistics on our numerical values, the latitude and longitude data.

In [ ]:
%%sql
SELECT 
    MAX(start_lat) AS max_start_lat,
    MAX(end_lat) AS max_end_lat,
    MIN(start_lat) AS min_start_lat,
    MIN(end_lat) AS min_end_lat,
    STDDEV(start_lat) AS std_start_lat,
    STDDEV(end_lat) AS std_end_lat,
    
    MAX(start_lng) AS max_start_lng,
    MAX(end_lng) AS max_end_lng,
    MIN(start_lng) AS min_start_lng,
    MIN(end_lng) AS min_end_lng,
    STDDEV(start_lng) AS std_start_lng,
    STDDEV(end_lng) AS std_end_lng
FROM combined_tripdata;

We see that the minimum and maximum end latitude and longitude for some rides are exactly 0.0. This doesn't make sense, since from a quick search, we can see that the latitude and longitude of Chicago is around (41.88, -87.62). Lets check the entries where the latitude or longitude are exactly 0.0.

In [ ]:
%%sql
SELECT *
FROM combined_tripdata
WHERE end_lat = 0 OR end_lng = 0;

We see that there is one row that seems to have caused this issue. We know that even if there are null values, `MAX()` and `MIN()` will not count those values. Perhaps there was an issue with the location tracking system that returned 0.0 instead of null. In any case, we can remove this entry.

Another issue to point out is the suspiciously high number for the end latitude and end longitude. Since the latitude and longitude of Chicago is around (41.88, -87.62), this might suggest that there either is an issue with the tracking system, or there was for some reason a rider that started or ended a ride way beyond the city limits. Lets investigate by using an SQL query.

In [ ]:
%%sql
SELECT *
FROM combined_tripdata
WHERE end_lat < (41.88 - 2) OR end_lat > (41.88 + 2) OR
end_lng < (-87.62 - 2) OR end_lng > (-87.62 + 2);

I set the search parameters to be ±2 the latitude and longitude of Chicago. The ±2 is an arbitrary value, but I felt that realistically, there might be some people who would bike very large distances across the general Chicago area. We see that the entries that showed up from the query were the previous (0.0, 0.0) end latitude and longitude query, and a new query which shows the end latitude and longitude to be (87.96, -144.05), despite the ride being only around an hour long. A quick search into the location of these latitude and longitude values shows the middle of the Arctic Ocean. Unless there was a superhuman that could ride a bike from Chicago all the way to the Arctic Ocean, it is safe to say that this is anomalous data. Thus we should remove rows 255566 and 283717 from our dataset when we clean the data.

## Data Cleaning

From our initial exploration, we have obtained a better picture of the data we are working with. But there are issues to address with the data, such as some of the columns being the wrong datatype, missing values in some columns, and some anomalous data, so lets do some data cleaning.

We see that SQL has read in the datatypes of the columns incorrectly. Lets convert all the text columns to strings to save storage space, and convert the `started_at` and `ended_at` columns to datetime values.

There are entries where the seconds column needs to be truncated to 19 characters, as there are fractional seconds in some parts of the data (eg. `2024-06-11 17:20:06.289`). To trim our text, we use the `LEFT()` function to cut the text to 19 characters. We don't need to round the milliseconds since its on the order of only a second.

In [ ]:
%%sql
ALTER TABLE combined_tripdata
MODIFY COLUMN started_at DATETIME,
MODIFY COLUMN ended_at DATETIME;

In [ ]:
%%sql
UPDATE combined_tripdata
SET 
    started_at = STR_TO_DATE(LEFT(started_at, 19), '%Y-%m-%d %H:%i:%s'),
    ended_at = STR_TO_DATE(LEFT(ended_at, 19), '%Y-%m-%d %H:%i:%s');

We now can see that the `started_at` and `ended_at` columns are now datetime datatypes.

In [ ]:
%sql SHOW COLUMNS FROM combined_tripdata;

We will now change the datatypes of the other text columns to strings to save storage.

In [ ]:
%%sql
ALTER TABLE combined_tripdata
MODIFY COLUMN ride_id VARCHAR(255),
MODIFY COLUMN rideable_type VARCHAR(255),
MODIFY COLUMN start_station_name VARCHAR(255),
MODIFY COLUMN start_station_id VARCHAR(255),
MODIFY COLUMN end_station_name VARCHAR(255),
MODIFY COLUMN end_station_id VARCHAR(255),
MODIFY COLUMN member_casual VARCHAR(255);

We wont't change the doubles to floats or other number types, since that would result in some values losing some decimal places. The text datatypes were converted to strings since none of the entries have character counts that reach beyond the standard 255 for strings.

The data type changes should be reflected in the table now.

In [ ]:
%sql SHOW COLUMNS FROM combined_tripdata;

Now, lets tackle the null values in each column. First lets determine the number of null values in each column.

In [ ]:
%%sql 
SELECT COUNT(*) 
FROM combined_tripdata 
WHERE IS NULL;

In [ ]:
%%sql 
SELECT
    SUM(ride_id IS NULL) AS ride_id_nulls,
    SUM(rideable_type IS NULL) AS rideable_type_nulls,
    SUM(started_at IS NULL) AS started_at_nulls,
    SUM(ended_at IS NULL) AS ended_at_nulls,
    SUM(start_station_name IS NULL) AS start_station_name_nulls,
    SUM(start_station_id IS NULL) AS start_station_id_nulls,
    SUM(end_station_name IS NULL) AS end_station_name_nulls,
    SUM(end_station_id IS NULL) AS end_station_id_nulls,
    SUM(start_lat IS NULL) AS start_lat_nulls,
    SUM(start_lng IS NULL) AS start_lng_nulls,
    SUM(end_lat IS NULL) AS end_lat_nulls,
    SUM(end_lng IS NULL) AS end_lng_nulls,
    SUM(member_casual IS NULL) AS member_casual_nulls
FROM combined_tripdata;

We see that for the data between Aug 2023 to Jul 2024, there are null values in the `start_station_name_nulls`, `start_station_id_nulls`, `end_station_name_nulls`, `end_station_id_nulls`, `end_lat_nulls`, and `end_lng_nulls` columns. By taking a step back and thinking about why this is, this tells us a two things about the null values:

1. Given the large amount of null values in the station name and ids, we can assume that those are rides that did not start and end at stations. This is likely because users are able to start rides and end rides wherever as long as the bike is within the city limits. We can attribute those null values as normal rides that started or ended at a variety of locations throughout the city of Chicago, since there are no missing data in the latitude and longitude data.
2. There are a small number of null values in the `end_lat_nulls` and `end_lng_nulls` columns. This can be due to a variety of reasons, but it is likely the trip was unable to be completed. Reasons might include bike malfunctions, the trip ended outside of the city etc.

If we recall, there are 5715693 entries in our combined dataset, as determined by the SQL query:

```
SELECT COUNT(*) FROM combined_tripdata;
```

Lets get a ratio of null data relative to the whole dataset for each column.

In [ ]:
%%sql
SELECT
    SUM(ride_id IS NULL) / (SELECT COUNT(*) FROM combined_tripdata) * 100 AS ride_id_nulls,
    SUM(rideable_type IS NULL) / (SELECT COUNT(*) FROM combined_tripdata) * 100 AS rideable_type_nulls,
    SUM(started_at IS NULL) / (SELECT COUNT(*) FROM combined_tripdata) * 100 AS started_at_nulls,
    SUM(ended_at IS NULL) / (SELECT COUNT(*) FROM combined_tripdata) * 100 AS ended_at_nulls,
    SUM(start_station_name IS NULL) / (SELECT COUNT(*) FROM combined_tripdata) * 100 AS start_station_name_nulls,
    SUM(start_station_id IS NULL) / (SELECT COUNT(*) FROM combined_tripdata) * 100 AS start_station_id_nulls,
    SUM(end_station_name IS NULL) / (SELECT COUNT(*) FROM combined_tripdata) * 100 AS end_station_name_nulls,
    SUM(end_station_id IS NULL) / (SELECT COUNT(*) FROM combined_tripdata) * 100 AS end_station_id_nulls,
    SUM(start_lat IS NULL) / (SELECT COUNT(*) FROM combined_tripdata) * 100 AS start_lat_nulls,
    SUM(start_lng IS NULL) / (SELECT COUNT(*) FROM combined_tripdata) * 100 AS start_lng_nulls,
    SUM(end_lat IS NULL) / (SELECT COUNT(*) FROM combined_tripdata) * 100 AS end_lat_nulls,
    SUM(end_lng IS NULL) / (SELECT COUNT(*) FROM combined_tripdata) * 100 AS end_lng_nulls,
    SUM(member_casual IS NULL) / (SELECT COUNT(*) FROM combined_tripdata) * 100 AS member_casual_nulls
FROM combined_tripdata;

We can see that for the data between Aug 2023 to Jul 2024, around 16-17% of rides do not begin or end at a station, and around 0.1% of rides do not have a proper end location.

Lets do some checks on whether we have invalid data by checking data range and constraints, specifically if there are rides where the time differences between the start and end is longer than a day, or there are rides that are below a minute, suggesting they might be rented by mistake.

In [ ]:
%%sql
SELECT 
    SUM(TIMESTAMPDIFF(MINUTE, started_at, ended_at) <= 1) AS rides_under1min,
    SUM(TIMESTAMPDIFF(MINUTE, started_at, ended_at) >= 1440) AS rides_over1day

FROM combined_tripdata;

We can see that there are many cases where rides are under 1 minute, but not as much for rides being over a whole day. Rides that are under a minute suggest a mistake or an issue with renting the bike, while rides over a day suggest the user forgetting to return the bike. Lets also get a ratio between the number of these special cases to the total number of trips.

In [ ]:
%%sql
SELECT 
    SUM(TIMESTAMPDIFF(MINUTE, started_at, ended_at) <= 1) / (SELECT COUNT(*) FROM combined_tripdata) * 100 AS rides_under1min,
    SUM(TIMESTAMPDIFF(MINUTE, started_at, ended_at) >= 1440) / (SELECT COUNT(*) FROM combined_tripdata) * 100 AS rides_over1day

FROM combined_tripdata;

Rides under a minute for the data between Aug 2023 to Jul 2024 account for roughly 4% of the data and rides over a day account for roughly 0.1% of the data.

Now that we have identified some areas where cleaning is needed, lets begin by duplicating the current table and cleaning the data in the newly duplicated table.

In [ ]:
%%sql
CREATE TABLE cleaned_tripdata AS 
SELECT * 
FROM combined_tripdata;

Lets now start cleaning the new table by first removing entries that we identified earlier as incorrect data:
- Latitude and longitude were outside of Chicago
- Ride ending without latitude and longitude
- Ride time is less than a minute or more than a day

In [ ]:
%%sql
-- latitude and longitude outside Chicago
DELETE FROM cleaned_tripdata
WHERE end_lat < (41.88 - 2) OR end_lat > (41.88 + 2) OR
end_lng < (-87.62 - 2) OR end_lng > (-87.62 + 2);

In [ ]:
%%sql
-- rides ending without latitude and longitude
DELETE FROM cleaned_tripdata
WHERE end_lat IS NULL OR end_lng IS NULL

In [ ]:
%%sql
DELETE FROM cleaned_tripdata
WHERE
    TIMESTAMPDIFF(MINUTE, started_at, ended_at) <= 1 OR TIMESTAMPDIFF(MINUTE, started_at, ended_at) >= 1440

Now lets look at the aggregate statistics for our new cleaned data:

In [ ]:
%%sql
-- latitude and longitude data
SELECT 
    MAX(start_lat) AS max_start_lat,
    MAX(end_lat) AS max_end_lat,
    MIN(start_lat) AS min_start_lat,
    MIN(end_lat) AS min_end_lat,
    STDDEV(start_lat) AS std_start_lat,
    STDDEV(end_lat) AS std_end_lat,
    
    MAX(start_lng) AS max_start_lng,
    MAX(end_lng) AS max_end_lng,
    MIN(start_lng) AS min_start_lng,
    MIN(end_lng) AS min_end_lng,
    STDDEV(start_lng) AS std_start_lng,
    STDDEV(end_lng) AS std_end_lng
FROM cleaned_tripdata;

In [ ]:
%%sql
-- null values as percentage to total counts
SELECT
    SUM(ride_id IS NULL) / (SELECT COUNT(*) FROM cleaned_tripdata) * 100 AS ride_id_nulls,
    SUM(rideable_type IS NULL) / (SELECT COUNT(*) FROM cleaned_tripdata) * 100 AS rideable_type_nulls,
    SUM(started_at IS NULL) / (SELECT COUNT(*) FROM cleaned_tripdata) * 100 AS started_at_nulls,
    SUM(ended_at IS NULL) / (SELECT COUNT(*) FROM cleaned_tripdata) * 100 AS ended_at_nulls,
    SUM(start_station_name IS NULL) / (SELECT COUNT(*) FROM cleaned_tripdata) * 100 AS start_station_name_nulls,
    SUM(start_station_id IS NULL) / (SELECT COUNT(*) FROM cleaned_tripdata) * 100 AS start_station_id_nulls,
    SUM(end_station_name IS NULL) / (SELECT COUNT(*) FROM cleaned_tripdata) * 100 AS end_station_name_nulls,
    SUM(end_station_id IS NULL) / (SELECT COUNT(*) FROM cleaned_tripdata) * 100 AS end_station_id_nulls,
    SUM(start_lat IS NULL) / (SELECT COUNT(*) FROM cleaned_tripdata) * 100 AS start_lat_nulls,
    SUM(start_lng IS NULL) / (SELECT COUNT(*) FROM cleaned_tripdata) * 100 AS start_lng_nulls,
    SUM(end_lat IS NULL) / (SELECT COUNT(*) FROM cleaned_tripdata) * 100 AS end_lat_nulls,
    SUM(end_lng IS NULL) / (SELECT COUNT(*) FROM cleaned_tripdata) * 100 AS end_lng_nulls,
    SUM(member_casual IS NULL) / (SELECT COUNT(*) FROM cleaned_tripdata) * 100 AS member_casual_nulls
FROM cleaned_tripdata;

We have successfully cleaned our data into a new table. Next, new columns will need to be made in order for more efficient analysis of the dataset. New columns that tell us the month, day of the week, distance travelled, total travel time, etc. will need to be added. This is because we want to be able to understand more about customer trends with more informative metrics as we move onto the analysis phase of the data cycle. By adding new columns with new data and metrics, we can gain more insights on rider behaviour and create informative visuals to present to our stakeholders.